*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100%;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding-top: 0 !important;
  overflow-x: hidden;
}

/* ===== FIXED NAVBAR ===== */
/* =========================
   NAVBAR
========================= */

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 1px solid black !important;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-margin{
  margin-left: 10px;
}

/* Navbar sections */
.search-box{
  display: flex;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 20px;
  gap: 30px;
}
.nav-center{
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia;
  
}

/* Links */
.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Buttons */
.nav-btn {
  padding: 6px 12px;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-btn.register {
  background: black;
  color: white;
}

.logout-btn {
  padding: 6px 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* space for fixed navbar */
.create-page {
  margin-top: 90px;
  padding: 20px 30px;
  background: rgba(0,0,0,0.2);
  width: 500px;
  border-radius: 5%;
}

.create-btn{
background:rgb(0, 0, 0);
color:#e8f8f0;
border-radius:20px;
cursor:pointer;
font-weight:bold;
font-family: optima;
}

.login-page{
  margin-top: 90px;
  padding: 20px 30px;
  background: rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 5%;
}
/*register*/
.custom-auth-card{
  background: transparent !important;
}
.custom-auth-card.glass-card{
  background: rgba(255, 255, 255, 0.322) !important;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 5%;
  border: 1px solid rgba(28, 192, 37, 0.3);
}

.auth-heading{
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.post-page{
  margin-top: 80px;

}
.active-link {
  color: green !important;
  border-bottom: 2px solid green;
  padding-bottom: 2px;
}

/* ===== GRID LAYOUT ===== */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

/* ===== PRODUCT CARD ===== */
.card{
  background: white;
  padding-bottom:20px;
  border-radius: 15px !important;
  width: 300px;
  text-decoration: none;
  height: 300px;
  text-align: left;
  box-shadow: 5px 5px 10px black;
  transition: 0.3;
}
.card p{
 color: black;
 margin-left: 3px;
}
.card h3{
 color: black;
 margin-left: 3px;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 5px;
}
.custom-btn{
  background: rgb(5, 105, 5) !important;
  border-radius: 10px;
  color: white;
  padding: 5px 15px;
  font-size: 13px;
  transition: 0.3 ease;
  
}
.custom-btn:hover{
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

/* ===== BUTTONS ===== */
.btn {
  background: rgb(76, 177, 26);
  color: white;
  border: none;
  padding: 8px 14px;
  margin-right: 8px;
  border-radius: 6px;
  cursor: pointer;
}


.btn.danger {
  background: #d9534f;
}

.btn:hover {
  opacity: 0.9;
}

/* ===== REVIEW PANEL ===== */
.review-panel {
  background: #f1f1f1;
  padding: 12px;
  border-radius: 8px;
  margin-top: 10px;
}

/* ===== INPUTS ===== */
select,
textarea {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* HOME PAGE */

.home{
width: 100%;
margin: 0 !important;
padding: 0 !important;
text-align:center;
padding:40px 20px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
min-height: 100vh;
}

.hero{
height: 100vh !important;
width: 100% !important;
margin: 0 !important;
padding: 0 !important;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.hero h1{
font-size:42px;
color: white;
margin-bottom:10px;
text-align: center;
font-family: Georgia;
font-size: 48px;
font-weight: 700;
text-shadow: 0px 0px 7px rgba(36, 3, 3, 0.651);
}

.hero-title span{
  display: block;
}

p{
font-size:18px;
margin-bottom:25px;
color: #f0ecec;
font-family: 'Courier New', Courier, monospace;

border-radius: 10px;

}

.hero-btn{
background:rgb(76, 177, 26);
color:#e8f8f0;
border:none;
padding:12px 25px;
font-size:20px;
border-radius:20px;
cursor:pointer;
font-weight:bold;
transition: 0.3s;
box-shadow: 5px 5px 10px rgba(0,0,0,0.);
font-family: optima;
}

.hero-btn:hover{
transform: translateY(-8px);

}
.glass-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.glass-card {
  width: 300px;
  padding: 18px;
  border-radius: 15px;

  /* 🔥 MAIN GLASS EFFECT */
  background: rgba(14, 80, 1, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.2);

  color: white;

  box-shadow: 0 8px 32px rgba(0,0,0,0.2);

  transition: 0.3s;
}

.glass-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.25);
}

.glass-card h3 {
  margin-bottom: 10px;
}

.glass-card p {
  font-size: 14px;
}

.icon-circle {
  font-size: 30px;
  margin-bottom: 10px;
}


.feature-card h3{
margin-bottom:10px;
}

.welcome-box{
background:white;
padding:30px;
border-radius:10px;

margin-top:20px;
}

.empty-box{
text-align:center;
padding:40px;
background:white;
border-radius:10px;
}

.order-date{
font-size:12px;
color:#777;
}

/*Cards*/
.agri-card-container{
display:flex;
gap: 20px;
flex-wrap:wrap;
margin-top: 20px;

}
.agri-card{
  cursor: pointer;
  background: white;
  padding-bottom: 20px;
  border-radius:20px;
  width: 240px;
  text-decoration: none;
  overflow: visible;
  height: 300px;
  text-align: center;
  box-shadow: 5px 5px 10px black;
  transition: 0.3s;
}

.agri-card:hover{
  transform: translateY(-8px);
}


.agri-card-image{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}
.agri-card-section{
  padding: 20px 10px;
  background-color: #edf0ed;
  
  position: relative;
  z-index: 2;
  
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 30px;
}

.card-btn{
 background:rgb(76, 177, 26);
 color: #fffafa;
 border-radius: 8px;

}

.agri-card p{
  color: green;
}

.crop-container{
  margin-top: 80px;
  
}
.crop-container p{
 color: black;
}

/* Feature section */

.features {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background: #f5f5f5;
  gap: 50px;
}

.feature-box {
  text-align: center;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  background: white;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.feature-box:hover {
  transform: translateY(-8px);
}

h3{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon {
  font-size: 40px;
}

.features p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  color: black;
}
/*about section*/
.about {
  padding: 60px 20px;
  background: #e2dfdf;
}
.about-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.about-image img{
  width: 400px;
  border-radius: 15px;
 transition: 0.3s;
 box-shadow: 5px 5px 10px black;;
}
.about-image img:hover{
  transform: scale(1.05);
}

.about-text{
  max-width: 400px;
}
.about-text h2{
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left;
}
.about-text p{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
}
/*CTA Section*/
.cta {
  padding: 50px 20px;
  text-align: center;
  background: #dadbda;

  color: rgb(12, 95, 4);
}

.cta button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: rgb(76, 177, 26);
  box-shadow: 5px 5px 10px black;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}

.cta button:hover{
  transform: translateY(-8px);
}

/*Footer Section*/
.footer{
  background: #dadbda;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-box{
  width: 22%;
  min-width:200px;
}
.footer-box h3{
  margin-bottom: 15px;
}
.footer-box p{
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
  font-family: poppins;
  color: black;
}


.footer-box input{
  padding: 8px;
 width: 70%;
 border-radius: 5px;
 margin-left: 5px;
 cursor: pointer;
}
.footer-box button:hover{
  background:#e8f5e9;
}

.footer-bottom{
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: black;
}
.footer-btn{
  background: rgb(76, 177, 26);
  color: white;
  border-radius: 20px;
  
}
/*filter product cards*/

.cardd-container {
  justify-content: flex-start !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.cardd {
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 10px;
  background: white;
  text-align: center;
}

.cardd-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/*Detailspage*/
.details-page{
  margin-top: 100px;   /* navbar ke niche lane ke liye */
  padding: 5px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.details-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.details-page button{
  background: rgb(76, 177, 26);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
.details-page p{
  color: black;
}

.product-title{
  white-space: nowrap;
  margin-top: 10px;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 22px;
}

.listing-card{
  margin-top: 80px;
  height: 600px !important;
  width: 600px !important;
}
.listing-card h2{
margin-right: 550px;
font-size: 30px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
  padding-top:50px;
}
.text-center{
  border-bottom: 1.5px solid black;
}
/*logo*/
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 🔥 LOGO styling */
.logo {
  height: 70px;
  width: auto;
  object-fit: contain;
}

/* text next to logo */
.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: #1b5e20;
  font-family: Georgia;
}

/*my order history page*/
.page{
  margin-top: 80px;
}
